.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(182, 7, 7);
    color: white;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}
